/* Write your CSS here */
.container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 35px;
  margin: 5px;
}
.tabs-container {
  max-width: 300px;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .tabs-container {
    max-width: 455px;
  }
}

.project-list-container {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1px;
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .project-list-container {
    margin-bottom: 150px;
    margin-top: 1px;
  }
}
.icon {
  height: 27px;
}
.form-control {
  height: 30px;
  background-color: transparent;
  width: 100%;
}
form {
  display: flex;
  margin-top: 15px;
  width: 30%;
}
